Xft.antialias: 1
Xft.autohint: 1
xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


URxvt*termName:                     rxvt-256color
URxvt*utmpInhibit:                  false
URxvt*scrollstyle:                      plain
URxvt*jumpScroll:                     true
URxvt*skipScroll:                     true
URxvt*pastableTabs:                   true
URxvt*scrollBar:                      false
URxvt*scrollTtyOutput:                true
URxvt*scrollTtyKeypress:              true
URxvt*scrollWithBuffer:               true
URxvt*fading:                         2
URxvt*urgentOnBell:                   false
URxvt*visualBell:                     false
URxvt*mapAlert:                       true
! URxvt*meta8:                          boolean
URxvt*mouseWheelScrollPage:           false
URxvt*tripleclickwords:               true
URxvt*insecure:                       true
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        blue
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 yellow
URxvt*scrollColor:                    gray
URxvt*troughColor:                    red
! URxvt*highlightColor:                 8
! URxvt*highlightTextColor:             0
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*pointerBlankDelay:              num


URxvt*letterSpace: -1
URxvt*lineSpace: 1
URxvt*xftAntialias: false

URxvt*font: xft:liberation mono:size=8:antialias=true:hinting=true
URxvt*boldFont: xft:liberation mono:style=bold:size=8:antialias=true:hinting=true
URxvt*italicFont: xft:liberation mono:style=italic:size=8:antialias=true:hinting=true



! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*answerbackString:               string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
urxvt*saveLines:                      false
URxvt*buffered:                       true
URxvt*depth:                          24
URxvt*override-redirect:              false
URxvt*hold:                           false
URxvt*externalBorder:                 true
URxvt*internalBorder:                 6
URxvt*borderLess:                     false
URxvt*skipBuiltinGlyphs:              true

URxvt*cutchars:           ""

Rxvt*print-pipe:  cat > /dev/null
URxvt*secondaryScreen:                true
URxvt*secondaryScroll:                false
URxvt*iso14755:                       false
URxvt*iso14755_52:                    false
URxvt.url-launcher: xdg-open

URxvt.perl-ext-common: default,clipboard




URxvt.keysym.Control-V: \033\007
!URxvt.keysym.Control-M-V: builtin:
!
!URxvt.keysym.C-M-c: builtin:
!URxvt.keysym.C-S-c: builtin-string:

 

! URxvt.selection.pattern-0: ([[:word:]]+)
! URxvt.resize-font.smaller: C-Down
! URxvt.resize-font.bigger: C-Up
! URxvt.selection-autotransform.0: transform
! URxvt.selection-autotransform.1: transform



! remap C-enter to F13
URxvt.keysym.Control-Return: \033[25~

! map C-S-F/B to C-Right/Left
URxvt.keysym.Control-Shift-F: \033[1;5C
URxvt.keysym.Control-Shift-B: \033[1;5D



*background: #131313
*foreground: #CECECE
*cursorColor: #93a1a1
*cursorColor2: #E0E0E0

!! blue dark/light
!*color4: #4C5481
!*color12: #6D78B9


!black
*color0:  #101010
*color8:  #161616

!red
*color1:  #8C3939
*color9:  #C46C6C

!! green dark/light
*color2: #2FBA60
*color10: #7EDD9F


!yellow
*color3:  #E8AB51
*color11:  #FFBC59

!blue
*color4:  #4C5481
*color12:  #6D78B9

!magenta
*color5:  #8D437C
*color13:  #BA8BAF

!cyan
*color6:  #64A49C
*color14:  #86C1B9

!white
*color7:  #D0D0D0
*color15:  #FEFEFE


URxvt*dynamicColors: on


/* URxvt.keysym.C-C: perl:clipboard:copy */
/* URxvt.keysym.C-S-v: perl:clipboard:paste_escaped */
/* URxvt.keysym.C-V: perl:clipboard:paste */

/* ctrl-C copy ctrl-V paste */
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard


!URxvt.keysym.C-A-V: perl:clipboard:paste_escaped
