Xft.antialias: 1
Xft.autohint: 1
xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


! URxvt*termName:                     rxvt-256color
URxvt*utmpInhibit:                  false
URxvt*scrollstyle:                      plain
! URxvt*jumpScroll:                     true
! URxvt*skipScroll:                     true
URxvt*pastableTabs:                   true
URxvt*scrollBar:                      false
URxvt*scrollTtyOutput:                true
URxvt*scrollTtyKeypress:              true
URxvt*scrollWithBuffer:               true
URxvt*fading:                         2
URxvt*urgentOnBell:                   false
URxvt*visualBell:                     false
URxvt*mapAlert:                       true



! URxvt*meta8:                          boolean
URxvt*mouseWheelScrollPage:           false
URxvt*tripleclickwords:               true
URxvt*insecure:                       true
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        blue
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 yellow
URxvt*scrollColor:                    gray
URxvt*troughColor:                    red
! URxvt*highlightColor:                 8
! URxvt*highlightTextColor:             0
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*pointerBlankDelay:              num


URxvt*letterSpace: -1
URxvt*lineSpace: 1
URxvt*xftAntialias: false

URxvt*font: xft:liberation mono:size=8:antialias=true:hinting=true
URxvt*boldFont: xft:liberation mono:style=bold:size=8:antialias=true:hinting=true
URxvt*italicFont: xft:liberation mono:style=italic:size=8:antialias=true:hinting=true



! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*answerbackString:               string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
!-- urxvt*saveLines:                      false
URxvt*buffered:                       true
URxvt*depth:                          24
URxvt*override-redirect:              false
URxvt*hold:                           false
URxvt*externalBorder:                 true
URxvt*internalBorder:                 6
URxvt*borderLess:                     false
URxvt*skipBuiltinGlyphs:              true

URxvt*cutchars:           ""

Rxvt*print-pipe:  cat > /dev/null
URxvt*secondaryScreen:                true
URxvt*secondaryScroll:                true
URxvt*iso14755:                       false
URxvt*iso14755_52:                    false
URxvt.url-launcher: xdg-open

URxvt.perl-ext-common: default,clipboard




URxvt.keysym.Control-V: \033\007
!URxvt.keysym.Control-M-V: builtin:
!
!URxvt.keysym.C-M-c: builtin:
!URxvt.keysym.C-S-c: builtin-string:

 

! URxvt.selection.pattern-0: ([[:word:]]+)
! URxvt.resize-font.smaller: C-Down
! URxvt.resize-font.bigger: C-Up
! URxvt.selection-autotransform.0: transform
! URxvt.selection-autotransform.1: transform



! remap C-enter to F13
! URxvt.keysym.Control-Return: \033[25~

! map C-S-F/B to C-Right/Left
URxvt.keysym.Control-Shift-F: \033[1;5C
URxvt.keysym.Control-Shift-B: \033[1;5D




*.foreground:   #c1c1c1
*.background:   #232323
*cursorColor: #93a1a1
*cursorColor2: #E0E0E0

! black
*.color0:       #101010
*.color8:       #8e8e8e

! red
*.color1:       #93240f
*.color9:       #ff6262

! green
*.color2:       #1f7e41
*.color10:      #42d675

! yellow

*color3:  #d9a700
*color11:  #ffd52b
!*.color3:       #ffd200
!*.color11:      #ffff9d

! blue
!
*.color4:       #6495d4
*.color12:      #c0cfff

! magenta
*.color5:       #8d437c
!*.color13:      #ba8baf
*.color13:      #FF0000

! cyan
*.color6:       #19776b
*.color14:      #86c1b9

! white
*.color7:       #d0d0d0
*.color15:      #fefefe



URxvt*dynamicColors: on


URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
